<!-- FOOTER SOLO PARA INDEX -->
<footer class="bg-dark text-white pt-4 pb-3">
    <div class="container text-center">
      <h5>Síguenos en nuestras redes</h5>
      <div class="d-flex justify-content-center my-3">
        <a href="https://facebook.com" target="_blank" class="text-white mx-3 fs-3"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com" target="_blank" class="text-white mx-3 fs-3"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com" target="_blank" class="text-white mx-3 fs-3"><i class="bi bi-twitter-x"></i></a>
        <a href="https://youtube.com" target="_blank" class="text-white mx-3 fs-3"><i class="bi bi-youtube"></i></a>
      </div>
      <p class="mb-0">&copy; 2024 MotoStore. Todos los derechos reservados.</p>
    </div>
  </footer>
  