

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notificaciones de Citas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">🏍️ MotoStore Admin</a>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-danger" href="{{ url_for('admin') }}">Salir</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="notificaciones-container">

        <h1 class="text-center mb-4">Notificaciones de Citas</h1>
    
        <!-- Botón Marcar como leídas -->
        <a href="{{ url_for('marcar_notificaciones') }}" class="btn-marcar-leido">Marcar como leídas</a>
    
        <!-- Mostrar cada notificación -->
        {% for mensaje in mensajes if mensaje.estado == 'nuevo' %}
        <div class="notificacion-card">
            <div class="notificacion-title">
                Moto: {{ mensaje.moto }} <span class="badge-nuevo">Nuevo</span>
            </div>
            <p class="notificacion-text"><strong>Nombre:</strong> {{ mensaje.nombre }}</p>
            <p class="notificacion-text"><strong>Email:</strong> {{ mensaje.email }}</p>
            <p class="notificacion-text"><strong>Teléfono:</strong> {{ mensaje.telefono }}</p>
            <p class="notificacion-text"><strong>Fecha Cita:</strong> {{ mensaje.fecha }}</p>
            <p class="notificacion-text"><strong>RUNT:</strong> {{ mensaje.runt }}</p>
        </div>
        {% else %}
        <!-- Mensaje si no hay notificaciones -->
        <p class="sin-notificaciones">No hay nuevas notificaciones.</p>
        {% endfor %}
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
